.m_c_uom_measure{
  width: 130px !important;
  position: relative !important;
  left: -35px !important;
  top: 8px !important;

}

.cart_lines_popup .mini_cart .mini_cart_lines .css_quantity{
  position: relative !important;
  left: -60px !important;
  top: 8px !important;
  width: 100px !important;
  height: 35px !important;

}

.cart_lines_popup .mini_cart .mini_cart_lines .m_c_qty .js_delete_product{
  margin-left: -20px !important;

}