@media(min-width: 992px){
    .grid_nav_class{
        display: grid;
        grid-template-columns: repeat(7, 1fr), 1fr;

    }

    .grid_nav_class .logo_view{
        grid-column: 1;
        grid-row: 1;
    }

    .grid_nav_class .search_bar_view{
        padding-top: 18.75px;
        height: 75px;
        display: block;
        grid-column: 2 / 7;
        grid-row: 1;
    }

    .grid_nav_class .header_right_view{
        justify-self: end;
        grid-column: 7;
        grid-row: 1;
    }
}

@media(max-width: 991px){
    .grid_nav_class{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 5px;
    }

    .grid_nav_class .logo_view{
        width: 220px;
        grid-column: 1;
        grid-row: 1;
    }

    .grid_nav_class .search_bar_view{
        display: block;
        grid-column: 1 / 2;
        grid-row: 2;
    }

    .grid_nav_class .header_right_view{
        width: auto;
        justify-self: end;
        grid-column: 1;
        grid-row: 1;
    }
}

.a_custom{
    width: 30px !important;
    height: 30px !important;
}
.custom-plus-button{
    background-image: url('/atharva_theme_base/static/src/img/shop/black-circle.png') !important;
    background-repeat: no-repeat !important;
}
.custom-plus-button:hover{
    background-image: url('/atharva_theme_base/static/src/img/shop/red-circle-hover.png') !important;
    background-repeat: no-repeat !important;
}
.custom-plus-button:not(:hover){
    background-image: url('/atharva_theme_base/static/src/img/shop/black-circle.png') !important;
    background-repeat: no-repeat !important;
}
.custom-heart-button{
    background-image: url('/pleni_cart/static/src/img/love.png') !important;
}
.custom-heart-button:hover{
    background-image: url('/pleni_cart/static/src/img/love_red.png') !important;
}
.button-none{
    border: none !important;
    text-decoration: none !important;
    background-color: transparent !important;
}
button:disabled{
    background-image: url('/pleni_cart/static/src/img/love_red.png') !important;
}

.loading-pleni {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    background-image: url("/pleni_cart/static/src/img/supermarket.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 292px 200px;
}